name: Unit tests

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        go: [ '1.17', '1.16' ]
        os: [macOS-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}
      - run: go test ./...
